[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/blyat/Desktop/730_screenshots_20170317131145_1.jpg]
row=1
col=0

[/home/blyat/Desktop/YRTO2]
row=2
col=0

[/home/blyat/Desktop/eJwNycENwyAMAMBdGADbGAJkmQoRRFIlBYHzqrp787nPfdU9TrWqXaTPFWA7Zm5j01PaSLXo2lo9S-rH1LldkERS3q_ykQnGB0TPMTo06Jj9AiayZbYmENknF0dgkDzyY6Tg7Iv0u1f1-wMiHiMX.jpg]
row=0
col=0

